<?xml version="1.0" encoding="UTF-8" ?>
 <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.DepHelloMapper">
	<resultMap id="DepResultMap" type="pojo.DepHello">
		<id column="depId" property="depId" />
		<id column="depName" property="depName" />
		<id column="depPeopNum" property="depPeopNum" />
	</resultMap>

	<select id="selectByDepID" resultMap="DepResultMap"> 
		Select * from dep where depId = #{depId} 
	</select>

	<select id="selectByDepName" resultMap="DepResultMap"> 
		Select * from dep where depName = #{depName} 
	</select>

	<select id="selectByDepPeopNum" resultMap="DepResultMap"> 
		Select * from dep where depPeopNum = #{depPeopNum} 
	</select>

	<update id="updateByDepID"> 
		Update dep 
		<include refid="non_auto_set_params"/> 
		where depId = #{depId} 
	</update>

	<update id="updateByDepName"> 
		Update dep 
		<include refid="non_auto_set_params"/> 
		where depName = #{depName} 
	</update>

	<update id="updateByDepPeopNum"> 
		Update dep 
		<include refid="non_auto_set_params"/> 
		where depPeopNum = #{depPeopNum} 
	</update>

	<delete id="deleteByDepID"> 
		Delete from dep where depId = #{depId}
	</delete>

	<delete id="deleteByDepName"> 
		Delete from dep where depName = #{depName}
	</delete>

	<delete id="deleteByDepPeopNum"> 
		Delete from dep where depPeopNum = #{depPeopNum}
	</delete>

	<!--  Pojo Dynamic Update Sql Helper	-->

	<sql id="non_auto_set_params"> 
		<set>
			<if test="dep.depName != null">depName = #{dep.depName},</if>
			<if test="dep.depPeopNum != null">depPeopNum = #{dep.depPeopNum}</if>
		</set> 
	</sql>

	<!--  Generic Sql Tag  -->

	<select id="selectList" resultType="query.Depquery"> 
		select * from dep 
		<include refid="full_query_conditions"/> 
	</select>

	<insert id="insert" parameterType="pojo.DepHello">
		insert into dep 
		<include refid="insert_columns"/> 
		values 
		<include refid="insert_values"/> 
	</insert>

	<insert id="insertOrUpdate" parameterType="pojo.DepHello">
		Insert into dep 
		<include refid="inOrUp_columns"/> 
		values 
		<include refid="inOrUp_values"/> 
		On Duplicate Key Update 
		<include refid="inOrUp_update_values"/> 
	</insert>

	<insert id="insertList" parameterType="java.util.List"> 
		insert into table dep 
		<include refid="non_auto_columns"/> 
		values 
		<foreach item="Dep" collection="insertList" separator=","> 
			<trim suffix=")" prefix="(" suffixOverrides=","> 
				<if test="Dep.depName != null">#{Dep.depName},</if>
				<if test="Dep.depName == null">Null,</if>
				<if test="Dep.depPeopNum != null">#{Dep.depPeopNum},</if>
				<if test="Dep.depPeopNum == null">Null,</if> 
			</trim> 
		</foreach>
	</insert>

	<insert id="insertOrUpdateList" parameterType="java.util.List">
		insert into dep 
		<include refid="inOrUpList_columns"/> values 
		<foreach item="Dep" collection="inOrUpList" open="(" close=")" separator=",">
			#{Dep.depId},#{Dep.depName},#{Dep.depPeopNum}
		</foreach> 
		as Dep 
		on duplicate key update 
		<include refid="inOrUpList_update_values"/>
	</insert>

	<select id="selectCount" parameterType="query.Depquery">
		select count(*) from dep 
		<where> 
			<include refid="query_conditions"/> 
		</where>
	</select>

	<!-- Generic Mapper Dynamic Sql Tag Helper	-->

	<sql id="full_columns"> 
		depId,depName,depPeopNum 
	</sql>

	<sql id="non_auto_columns"> 
		depName,depPeopNum 
	</sql>

	<sql id="query_conditions"> 
		<if test="query.depId != null">
			and depId = #{query.depId}
		</if>
		<if test="query.depName != null and query.depName!=''">
			and depName = #{query.depName}
		</if>
		<if test="query.depPeopNum != null">
			and depPeopNum = #{query.depPeopNum}
		</if> 
	</sql>

</mapper>